.hero-slider {
  position: relative;

  .slick-dots {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;

    li {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: 1px 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #000 \9;
      background-color: rgba(0,0,0,0);
      border: 1px solid #fff;
      border-radius: 10px;
      box-sizing: border-box;

      &.slick-active {
        background-color: #fff;
      }

      button {
        display: none;
      }
    }
  }
}
